.FoodMasterBody {
  height: 100%;
  margin-bottom: 60px;
}

h2 {
  text-align: center;
  padding-top: 20px;
}

.FoodMasterBlockSelectorTwo {
  background-color: #f7f7f7;
}

.FoodMasterBlockSelectorTwo .FoodMasterBlockPosition {
  border: 0;
  position: absolute;
  left: 70%;
  margin-top: 4.5%;
}

.FoodMasterBlockSelectorTwo h3 {
  position: absolute;
  left: 20%;
  margin-top: 1.5%;
}

.FoodMasterDisplayContent {
  position: relative;
  top: 10%;
  line-height: 1.5;
  display: flex;
  justify-content: space-between;
}

.FoodFeaturesDesc {
  margin: 40px auto 35px auto;
}

.FoodFeaturesDesc p {
  text-align: center;
  font-weight: 600;
  margin: 30px;
}

.FoodMasterDisplayImage {
  height: 150px;
  width: 150px;
  margin: 0 auto;
  display: block;
  z-index: 99;
}

/* Mobile One----------- */
@media only screen and (max-width: 768px) {
  /* Styles */
  .FoodMasterBlockSelectorTwo .FoodMasterBlockPosition {
    border: 0;
    position: absolute;
    left: 60%;
    margin-top: 15%;
  }
  .FoodMasterDisplayContent {
    left: 20%;
    padding: 6px 2px;
    flex-direction: column;
    width: 60%;
  }
  .FoodMasterDisplayImage {
    height: 100px;
    width: 100px;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */

  .FoodMasterBlockSelector {
    display: grid;
    grid-template-columns: auto auto auto;
  }
}

/* Mobile One----------- */
@media only screen and (max-width: 1024px) {
  /* Styles */
  .categorytext {
    display: none;
  }

  /* Mobile Two----------- */
  @media only screen and (max-width: 600px) {
    .categorytext {
      display: none;
    }
  }
}
