.FoodMasterBody{
    height:100%;
}

.FooderBanner{
    background-image:url('../../assets/images/foodermasterbanner.png');
    background-position: 50%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height:600px;
    position: relative;
    z-index: -1;
}

.FooderBanner .FooderBannerText{
    text-align:center;
    position:absolute;
    top:55%;
    left:50%;
    transform: translate(-50%, -50%);
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    animation: fadeIn ease 3s;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1)
}

.FoodMasterBlockSelector{
    border:0;
    margin-top:20px;
    height:650px;
    display:grid;
    grid-template-columns: auto auto auto;
    margin-left: auto;
    margin-right: auto;
    width:80%;
    padding:16px 14px;
    margin-bottom: 20px;
    border-radius: 2%;
    box-shadow: 3px 3px 3px 3px #ccc;
}

.FoodMasterBlockSelector .FoodMasterRecommendation {
    border:0;
    margin-top:30px;
    margin:10px;
    border-radius: 2%;
    box-shadow: 3px 3px 3px 3px #ccc;
}

.FoodMasterBlockSelectorTwo{
    background-color: #f7f7f7;
    height:400px;
}

.FoodMasterBlockSelectorTwo .FoodMasterBlockPosition{
    border:0;
    position: absolute;
    left:70%;
    margin-top:4.5%;
}

.FoodMasterBlockSelectorTwo h3 {
    position:absolute;
    left:20%;
    margin-top:1.5%;
}

.FoodMasterDisplayImage{
    height:250px;
    width:250px;
    z-index: 99;
}

.FoodMasterDisplayContent{
    position:relative;
    top: 15%;
    left: 20%;
    line-height: 2.5;
    width:50%;
}

.FoodMasterFaq{
    background-color: white;
    height:700px;
    width:70%;
    position:absolute;
    left:15%;
    margin-top: 10px;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

/* Mobile One----------- */
@media only screen 
and (max-width : 768px) {
/* Styles */
.FoodMasterBlockSelector{
    display:block;
    height:150vh;
}
.FoodMasterBlockSelector .FoodMasterRecommendation {
    height:15%;
}
.FoodMasterDisplayImage{
    display:none;
}
.FoodMasterBlockSelectorTwo .FoodMasterBlockPosition{
    border:0;
    position: absolute;
    left:60%;
    margin-top:15%;
}
.FoodMasterDisplayContent{
    border:0;
    left:20%;
    padding:6px 2px;
    top:5%;
    display: flex;
    align-items: left;
    flex-direction: column;
    width:70%;
}
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */

.FoodMasterBlockSelector{
    display:grid;
    grid-template-columns: auto auto auto;
}
}