.NavItem {
    float: right;
    margin-right: 30px;
    display: inline-block;
    transition: 0.3s ease;
    opacity: 0.7;
    color:white;
}

.NavItem:hover {
    cursor:pointer;
    transform: scale(1.5, 1.5);
    opacity: 1;
}
