.NavItem {
  float: right;
  margin-right: 30px;
  transition: 0.3s ease;
  opacity: 0.7;
  color: white;
  margin-top: 30px;
  position: relative;
}

.NavItem:hover {
  cursor: pointer;
  opacity: 1;
}

.NavItem:active {
  cursor: pointer;
  transform: scale(1, 1);
  opacity: 1;
}
