.DrawerStylesFull {
    width:'auto';
}

.DrawerStylesList {
    width:250px;
}

.DrawerIconStyle {
    color: white; 
}

/* Desktop Responsive ----------- */
@media only screen 
and (min-width : 768px) {
    .DrawerIconStyle {
        display: none;
    }
}
