.BlockContent{
    height:100%;
    margin-bottom : 90px;
}

.BlockTitle {
    text-align : center;
    border : 1px solid;
    box-shadow: 3px 3px 3px 3px #ccc;
    width: 60%;
    height:auto;
    position:fixed;
    top:10%;
    left:20%;
}

.BlockImage {
    width: 38%;
    height:50%;
    text-align:center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top:100px;
}

.BlockSelector{
    border: 0;
    width:38%;
    margin-top:40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 3px 3px 3px 3px #ccc;
    padding-bottom:10px;
    margin-bottom: 10px;
}

.BlockSelector h3 {
    padding-left: 10px;
    padding-top: 20px;
}

.BlockSelector p {
    padding-left: 10px;
}

.BlockSubselector{
    border: 1px solid;
    margin-top:20px;
    max-width:80%;
    margin-left:10%;
    height:100px;
}

.BlockSelector .ButtonQuantity {
    display: inline-block;
    margin-left:10px;
    
}

.BlockSelector .ButtonQuantityLeft {
    display: inline-block;
    margin-left:30%;
}

.BlockSelector button {
    background-color:lightseagreen;
    border:0;
    border-radius:20%;
    margin:10px;
    padding:15px;
    height:50px;
    color: white;
    cursor: pointer;
}

.BlockSelector .SpecialInstructions{
    resize: none;
    height: 70px;
    width: 85%;
    padding-left:20px;
    margin-left:20px;
    font-size:18px;
}

.nasi_lemak_sample {
    max-width: 75%;
    max-height: 75%;
    padding-top:30px;
}

@media only screen and (max-width: 600px) {
    .BlockSelector .SpecialInstructions {
        width:55%;
    }
    .BlockSelector .ButtonQuantityLeft {
        display: block;
        margin-left:5%;
    }
}


@media only screen and (max-width: 768px) {
    .Blocktitle {
      width: 500px;
    }
    .nasi_lemak_sample {
        width: 150px;
        padding-top:120px;
    }
    .BlockSelector .ButtonQuantityLeft {
        display: inline-block;
        margin-left:5%;
    }
    .BlockSelector .SpecialInstructions {
        width:70%;
    }
}


