@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

.CheckoutBody {
  height: 100%;
  margin: 100px auto 90px auto;
}

.CheckoutBlockSelector {
  border: 1px solid lightgray;
  width: 30%;
  position: relative;
  display: block;
  overflow-y: scroll;
  height: 50%;
}

.CheckoutBlockSelector .CheckoutTitle {
  font-family: "Itim", cursive;
  text-align: left;
  margin-left: 5px;
  display: inline-block;
  padding-left: 4%;
}

.CheckoutBlockSelector .CheckoutPrice {
  color: #ff9999;
  float: right;
  padding-right: 30px;
  font-family: "Itim", cursive;
}

.CheckoutBlockSelector li {
  padding-left: 10%;
} /*need change position on web*/

.CheckoutBlockSelector p {
  margin-top: 10px;
  font-family: "Itim", cursive;
  color: #a8a8a8;
  text-align: center;
} /*need change position on web*/

/*Custom Delete Button CSS*/
.CheckoutBlockSelector .CheckoutDeleteButton {
  float: right;
  margin-right: 10px;
}

.CheckoutBlockSelector .checkoutEditColumn {
  display: inline-block;
}

.CheckoutBlockSelector .checkoutaddOn {
  margin-left: 5px;
  padding: 6px 8px;
  background-color: lightseagreen;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  border-radius: 10%;
}

.CheckoutNoOrder {
  font-size: 24px;
  padding: 50px;
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  .CheckoutBlockSelector {
    left: 55%;
    position: absolute;
  }
  .CheckoutBlockSelector hr {
    margin-top: 15%;
  }
}

/* Desktops and laptops two ----------- */
@media only screen and (max-width: 1024px) {
  .CheckoutBlockSelector {
    left: 10%;
    width: 82%;
    margin-top: 15%;
    margin-bottom: 10%;
  }
  .CheckoutBlockSelector hr {
    margin-top: 15%;
  }
}
