.Logo {
    /* margin-right:65%; */
    float:left;
    padding: 14px 16px;
}

.Logo img {
    height:70px;
}

/* Mobile Responsive ----------- */
@media only screen 
and (max-width : 768px) {
/* Styles */
    .Logo img {
        display:none;
    }
}
