.ButtonConfirmation {
    border:0;
    border-radius: 5%;
    background-color: #87CEFA;
    width:25%;
    margin:0 auto;
    color:white;
    display: block;
    height:90%;
    padding-top: 7px;
    margin-top:5px;
}

.ButtonConfirmation p {
    font-size: 20px;
}

.ButtonConfirmation:hover{
    background-color: #93d2fa;
    cursor: pointer;
}

.PriceList {
    display: inline;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .ButtonConfirmation{
        padding-top: 5px;
        width:15%;
    }
}

@media only screen and (min-width: 600px) {
    .ButtonConfirmation{
        width:15%;
    }
}

@media only screen and (max-width: 768px) {
    .ButtonConfirmation{
        width:20%;
    }
}

