@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

.ButtonConfirmation {
    border:0;
    border-radius: 5%;
    background-color: #87CEFA;
    width:25%;
    margin:0 auto;
    color:white;
    display: block;
    height:75%;
    padding: 5px 15px;
    margin-top:5px;
    box-shadow: 0 7px #999;
}

.ButtonConfirmation p {
    font-size: 24px;
    
}

.ButtonConfirmation:hover{
    background-color:#6CA5C8;
    cursor: pointer;
}

.ButtonConfirmation:active {
    background-color:#6CA5C8;
    box-shadow: 0 4px #666;
    transform: translateY(4px);
}

.ButtonConfirmation:focus{
    outline: none;
}

.PriceList {
    display: inline;
    font-weight: bold;
}

.ModalHeader {
    background-color: lightseagreen;
}

.ModalContent p{
    font-size: 18px;
    font-weight: 500;
    font-family: 'Itim', cursive;
}

.ModalContent li{
    font-size: 18px;
    font-weight: 500;
    font-family: 'Itim', cursive;
}

.ModalFooter {
    background-color: lightseagreen;
}

.ModalTitle {
    font-size: xx-large;
    color:white;
    font-family: 'Itim', cursive;
}

@media only screen and (max-width: 600px) {
    .ButtonConfirmation{
        padding-top: 5px;
        width:15%;
    }
}

@media only screen and (min-width: 600px) {
    .ButtonConfirmation{
        width:15%;
    }
}

@media only screen and (max-width: 768px) {
    .ButtonConfirmation{
        width:20%;
    }
}

