.BlockContent {
  height: 100%;
  padding: 100px 0;
  margin: 0 auto;
  max-width: 70%;
}

.BlockTitle {
  border: 1px solid;
  box-shadow: 3px 3px 3px 3px #ccc;
  width: 60%;
  position: fixed;
  top: 10%;
  left: 20%;
}

.BlockImage {
  width: 30%;
  display: block;
  margin: auto;
  box-shadow: 3px 3px 3px 3px #ccc;
  border-radius: 2%;
  position: relative;
}

.BlockSelector {
  width: 38%;
  display: block;
  margin: 0 auto 10px auto;
  border: 1px solid lightgray;
  padding: 5px 10px;
  border-radius: 2%;
}

.BlockSelector p {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.BlockSelector h5 {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.BlockWarningMessage {
  text-align: center;
}

.BlockSelector button:focus {
  outline: none;
}

.BlockSelector .SpecialInstructions {
  border: 0;
  border-radius: 2%;
  display: flex;
  margin: 5px;
}

.BlockSelector .BlockAdjustSelector {
  width: 180px;
  display: block;
  margin: 0 auto;
}

.BlockLabelPrice {
  float: right;
  margin: 12px;
}

.CharLeft {
  color: grey;
  font-size: small;
  text-align: right;
  padding-right: 15px;
}

/*checkbox list*/
.checkboxOne input[type="checkbox"] {
  width: 14px;
  height: 14px;
  margin-left: 15px;
  cursor: pointer;
}

.checkboxOne label {
  font-size: 16px;
  margin-left: 10px;
}

.checkboxOne p {
  display: inline;
  font-weight: bold;
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1025px) {
  /* Styles */
  .BlockImage {
    float: left;
    left: 10%;
  }

  .BlockSelector {
    position: relative;
    right: -20%;
  }

  .BlockSelector .ButtonQuantityText {
    display: inline-block;
    margin: 0 40px;
  } /*adjust on mobile*/

  .BlockSelector .ButtonQuantityLeft {
    display: inline-block;
  } /*adjust on mobile*/

  .BlockSelector .ButtonQuantityRight {
    display: inline-block;
  } /*adjust on mobile*/
}

/* Mobile Responsive ----------- */
@media only screen and (max-width: 1024px) {
  /* Styles */
  .BlockImage {
    right: 0;
  }

  #qty {
    display: block;
  }

  .BlockSelector {
    width: 100%;
    margin-top: 40px;
  }

  /* Styles */
  .BlockSelector .ButtonQuantityText {
    padding-left: 10px;
  } /*adjust on mobile*/

  .BlockSelector .ButtonQuantityLeft {
    display: flex;
    justify-content: center;
  } /*adjust on mobile*/

  .BlockSelector .ButtonQuantityRight {
    display: flex;
    justify-content: center;
  } /*adjust on mobile*/
}
