.BlockContent{
    height:100%;
    margin-bottom : 90px;
}

.BlockTitle {
    text-align : center;
    border : 1px solid;
    box-shadow: 3px 3px 3px 3px #ccc;
    width: 60%;
    height:auto;
    position:fixed;
    top:10%;
    left:20%;
}

.BlockImage {
    width: 38%;
    height:50%;
    text-align:center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top:100px;
}

.BlockSelector{
    border: 0;
    width:38%;
    margin-top:40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 3px 3px 3px 3px #ccc;
    padding-bottom:10px;
    
}

.BlockSelector h3 {
    padding-left: 10px;
    padding-top: 20px;
}

.BlockSelector p {
    padding-left: 10px;
}

.BlockSubselector{
    border: 1px solid;
    margin-top:20px;
    max-width:80%;
    margin-left:10%;
    height:100px;
}

.BlockSelector .ButtonQuantity {
    display: inline-block;
    margin-left:10px;
}

.BlockSelector .ButtonQuantityLeft {
    display: inline-block;
    margin-left:30%;
}

.BlockSelector button {
    background-color:lightseagreen;
    border:0;
    border-radius:20%;
    margin:7px;
    padding:15px;
    color: white;
    cursor: pointer;
}

.BlockSelector .SpecialInstructions{
    resize: none;
    margin: auto;
    display: block;
    width:95%;
}


.CharLeft {
    color:grey;
    font-size: small;
    text-align: right;
    padding-right: 15px;
}

.nasi_lemak_sample {
    max-width: 75%;
    max-height: 75%;
    padding-top:30px;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */

}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */

}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */

}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}

