.BlockContent {
  height: 100%;
  padding: 100px 0;
}

.BlockTitle {
  text-align: center;
  border: 1px solid;
  box-shadow: 3px 3px 3px 3px #ccc;
  width: 60%;
  height: auto;
  position: fixed;
  top: 10%;
  left: 20%;
}

.BlockImage {
  width: 30%;
  display: block;
  margin: auto;
  box-shadow: 3px 3px 3px 3px #ccc;
  border-radius: 2%;
  position: relative;
}

.BlockSelector {
  width: 38%;
  display: block;
  margin: 0 auto 10px auto;
  box-shadow: 3px 3px 3px 3px #ccc;
  padding: 5px 10px;
  border-radius: 2%;
}

.BlockSelector h3 {
  padding-left: 10px;
  padding-top: 20px;
}

.BlockSelector p {
  padding-left: 10px;
}

.BlockSubselector {
  border: 1px solid;
  margin-top: 20px;
  max-width: 80%;
  margin-left: 10%;
  height: 100px;
}

.BlockSelector button {
  background-color: lightseagreen;
  border: 0;
  border-radius: 20%;
  margin: 7px;
  padding: 15px;
  color: white;
  cursor: pointer;
  box-shadow: 0 6px lightgray;
}

.BlockSelector button:hover {
  background-color: #1ca099;
}

.BlockSelector button:active {
  background-color: #1ca099;
  box-shadow: 0 3px gray;
  transform: translateY(4px);
}

.BlockSelector button:focus {
  outline: none;
}

.BlockSelector .SpecialInstructions {
  border: 0;
  border-radius: 2%;
  display: flex;
  margin: 5px;
}

.BlockSelector .BlockAdjustSelector {
  width: 180px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.CharLeft {
  color: grey;
  font-size: small;
  text-align: right;
  padding-right: 15px;
}

.nasi_lemak_sample {
  max-width: 75%;
  max-height: 75%;
  padding-top: 30px;
}

/*checkbox list*/
.checkboxOne input[type="checkbox"] {
  width: 15px;
  height: 15px;
  margin-left: 15px;
  cursor: pointer;
}

.checkboxOne label {
  font-size: 20px;
  margin-left: 10px;
}

.checkboxOne {
  padding-top: 5px;
  padding-bottom: 10px;
}

.checkboxOne p {
  display: inline;
  font-weight: bold;
}

.addontitle {
  padding-left: 12px;
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */
  .BlockSelector .ButtonQuantityText {
    padding-left: 10px;
  } /*adjust on mobile*/

  .BlockSelector .ButtonQuantityLeft {
    display: flex;
    justify-content: center;
  } /*adjust on mobile*/

  .BlockSelector .ButtonQuantityRight {
    display: flex;
    justify-content: center;
  } /*adjust on mobile*/
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1025px) {
  /* Styles */
  .BlockImage {
    float: left;
    left: 10%;
  }

  .BlockSelector {
    position: relative;
    right: -20%;
  }

  .BlockSelector .ButtonQuantityText {
    display: inline-block;
    text-align: center;
  } /*adjust on mobile*/

  .BlockSelector .ButtonQuantityLeft {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  } /*adjust on mobile*/

  .BlockSelector .ButtonQuantityRight {
    display: inline-block;
    margin-left: 5%;
  } /*adjust on mobile*/
}

/* Mobile Responsive ----------- */
@media only screen and (max-width: 1024px) {
  /* Styles */
  .BlockImage {
    right: 0;
  }

  #qty {
    display: block;
  }

  .BlockSelector {
    width: 75%;
    margin-top: 40px;
  }
}
