.FooderAccountContent {
  height: 100%;
  max-width: 600px;
  margin: 100px auto 100px auto;
  padding: 16px 14px;
  border: 1px solid lightgray;
}

.FooderAccountContent h2 {
  text-align: center;
  margin: 16px 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400px;
}

.FooderForm_Group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}

.FooderForm_Field {
  margin: 12px auto 10px auto;
}

.FooderAccountLogin {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.Fooder_TextField {
  width: 540px;
}

/* Mobile One----------- */
@media only screen and (max-width: 768px) {
  /* Styles */
  .FooderAccountContent {
    max-width: 350px;
  }
  .FooderForm_Group {
    flex-direction: column;
  }
  .Fooder_TextField {
    width: 240px;
  }
}
