@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

.CheckoutContent{
    height:100%;
    margin-bottom : 90px;
}

h2 {
    text-align:center;
    padding-top: 20px;
}

.CheckoutBlockSelector{
    border: 0;
    width:25%;
    position: relative;
    left:52%;
    margin-top:2.5%;
    padding-bottom:20px; 
    box-shadow: 3px 3px 3px 3px #ccc;
    border-radius: 2%;
    display:block;
}

.CheckoutBlockSelector .CheckoutTitle {
    font-family: 'Itim', cursive;
    text-align: left;
    margin-left:5px;
    display:inline-block;
    padding-left: 4%;
}

.CheckoutBlockSelector .CheckoutPrice {
    color:#ff9999;
    float:right;
    padding-right: 30px;
    font-family: 'Itim', cursive;
}

.CheckoutBlockSelector li{
    padding-left: 10%;
} /*need change position on web*/

.CheckoutBlockSelector p {
    padding-left: 12%;
    margin-top:10px;
    font-family: 'Itim', cursive;
    color:#A8A8A8;
} /*need change position on web*/


/*Custom Edit Button CSS*/
.CheckoutBlockSelector .CheckoutEditButton {
    background-color:#00e600;
    border-radius: 25%;
    border:0;
    height:45px;
    color:white;
    box-shadow: 0 8px #999;
    float:right;
    margin-right: 10px;
    
}

.CheckoutBlockSelector .CheckoutEditButton:hover {
    background-color:green;
}

.CheckoutBlockSelector .CheckoutEditButton:active {
    background-color:green;
    box-shadow: 0 4px #666;
    transform: translateY(4px);
}

.CheckoutBlockSelector .CheckoutEditButton:focus {
    outline:none;
}


/*Custom Delete Button CSS*/
.CheckoutBlockSelector .CheckoutDeleteButton {
    background-color: red;
    border-radius: 25%;
    border: 0;
    height:45px;
    color:white;
    box-shadow: 0 8px #999;
    float:right;
    margin-right:10px;
}

.CheckoutBlockSelector .CheckoutDeleteButton:hover {
    background-color: salmon;
}

.CheckoutBlockSelector .CheckoutDeleteButton:active {
    background-color:salmon;
    box-shadow: 0 4px #666;
    transform: translateY(4px);
}

.CheckoutBlockSelector .CheckoutDeleteButton:focus {
    outline:none;
}


/*Custom AddOn Delete Button CSS*/
.CheckoutBlockSelector .checkoutEditColumn{
    display:inline-block;
}

.CheckoutBlockSelector .checkoutEditColumn button{
    padding-bottom:3px;
    color: white;
    transition: transform .6s ease-in-out;
    border:0;
    background-color: transparent;
    
}

.CheckoutBlockSelector .checkoutEditColumn button:hover{
    cursor: pointer;
    border-radius: 25%; 
    transform: rotate(360deg);
}

.CheckoutBlockSelector .checkoutEditColumn button:active{
    background-color:lightgray;
    cursor: pointer;
}

.CheckoutBlockSelector .checkoutEditColumn button:focus{
    outline: none;
}


.CheckoutBlockSelector .checkoutaddOn{
    margin-left:5px;
    padding:6px 8px;
    background-color:lightseagreen;
    font-weight:bold;
    color:white;
    text-transform:uppercase;
    border-radius: 10%; 
    
}

/*Custom Place Order Button CSS*/
.CheckoutPlaceOrderButton {
    border:0;
    border-radius: 25%;
    background-color: #87CEFA;
    width:25%;
    margin:0 auto;
    color:white;
    display: block;
    height:75%;
    padding: 5px 15px;
    margin-top:5px;
    box-shadow: 0 7px #999;
}

.CheckoutPlaceOrderButton p {
    font-size:24px;
    text-transform: uppercase;
    font-weight:bold;
}

.CheckoutPlaceOrderButton:hover {
    background-color: #6CA5C8;
}

.CheckoutPlaceOrderButton:active {
    background-color:#6CA5C8;
    box-shadow: 0 4px #666;
    transform: translateY(4px);
}

.CheckoutPlaceOrderButton:focus {
    outline:none;
}




/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
.CheckoutBlockSelector {
    left:52%;
    position: absolute;
    top:9.5%;
    
}
.CheckoutBlockSelector hr {
    margin-top: 15%;
}
}

/* Desktops and laptops two ----------- */
@media only screen 
and (max-width : 1024px) {
.CheckoutBlockSelector {
    left:10%;
    width:82%;
    margin-top:15%;
    margin-bottom:10%;
}
.CheckoutBlockSelector hr {
    margin-top: 15%;
}
}




