.cardBestSellerGrid{
    border-radius: 2%;
    width:80%;
    padding: 16px 14px;
    background-color: white;
    margin: 20px auto 20px auto;
}

.cardBestSellerGrid .cardBestSellerItem{
    margin: 26px auto 10px 30px;
    min-width: 150px;
    max-width:200px;
    padding:16px 14px;
    height:280px;
    border-radius: 2%;
    box-shadow: 3px 3px 3px 3px #ccc;
}
